{{>header}}

<div class="container d-flex mt-5 justify-content-center ">
    <div class="mt-5 ">
        <h2 class="mb-5">Enter your country in box</h2>
        <div>
            <form action="" id="myform" class="d-flex flex-column  justify-content-center">
                <input type="text" id="location" class="ps-5 pe-5 pt-2 pb-2 rounded-pill border border-secondary mb-5 text-secondary bg-dark">
                <button class=" btn btn-outline-secondary w-50 mx-auto rounded-pill">submit</button>
            </form>
        </div>
        <div class="mt-5 ">
            <h3 id="forecast" class=""></h3>
            <h3 id="country" class=""></h3>
            <h3 id="error" class=""></h3>
        </div>
    </div>
</div>

{{>footer}}
